
.con {
    position: relative;
}

.con .rightPanel {
    position: absolute;
    right: 0px;
    top: 10px;
}

#gameRoot,
#editorRoot {
    width: 1190px;
}

#gameRoot .rightPanel {
    width: 140px;
}

#scene {
    height: 600px;
}

#physics {
    height: 300px;
    border: 1px solid black;
    margin-left: -1px;
}

#btnPanel, #btnPanel button {
    font-size: 30px;
}

#btnPanel .sep {
    display: inline-block;
    width: 260px;
}

@page { 
    size: landscape;
}

.moveBtn {
    position: absolute;
    font-size: 60px;
    height: 250px;
    width: 260px;
    top: 350px;
    display: none;
    -webkit-user-select: none;      
    -moz-user-select: none;
    background: rgba(0,0,0,0.0); 
    color:rgba(0,0,0,0.5);
}

#moveLeft {
    left: 20px;
}

#moveRight {
    left: 750px;
}

.mobile .moveBtn {
    display: inline;
}

.mobileScore {
    position: absolute;
    font-size: 60px;
    height: 250px;
    width: 260px;
    top: 350px;
    left: 450px;
    color:rgba(0,0,0,0.5);
    display: none;
}

.mobile .mobileScore {
    display: inline;
}

