
.con {
    position: relative;
}

.con .rightPanel {
    position: absolute;
    right: 0px;
    top: 10px;
}

#gameRoot,
#editorRoot {
    width: 1190px;
}

#gameRoot .rightPanel {
    width: 140px;
}

#scene {
    height: 600px;
}

#physics {
    height: 300px;
    border: 1px solid black;
    margin-left: -1px;
}

#btnPanel, #btnPanel button {
    font-size: 30px;
}

#btnPanel .sep {
    display: inline-block;
    width: 260px;
}

@page { 
    size: landscape;
}

/* @media all and (orientation:landscape) {} */

@media all and (orientation:portrait) {
    .mobile {
        -webkit-transform:rotate(90deg) scale(1.2); 
        -moz-transform:rotate(90deg) scale(1.2);
    }
    
    .mobile body {
        padding-left: 220px;
    }
}

.moveBtn {
    position: absolute;
    font-size: 60px;
    top: 450px;
    display: none;
}

#moveLeft {
    left: 20px;
}

#moveRight {
    left: 750px;
}

.mobile .moveBtn {
    display: inline;
}

